@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

.wrapper{
    margin: 300px auto;
    width: 50%;
    min-width: 400px;
    background-color: #ffcc66;
    height: 54px;
}

.search__body{
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.search__body::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    border: solid 15px;
    border-bottom: 27px solid;
    border-top: 27px solid;
    border-color: transparent transparent transparent #ffcc66;
}

.search__body__input{
    position: absolute;
    top: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    height: 54px;
    padding: 5px 2px 10px 4px;
    /*background: red;*/
}

.search__body__btn{
    position: absolute;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    height: 54px;
    padding: 5px 15px 10px 2px;
    /*background: green;*/
}

.search__body__input__chekbox{
    padding-top: 4px;
    font: 12px "Open Sans", "sans-serif";
}

.search__body__input input[type="text"]{
    width: 100%;
    height: 26px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.1);
    font-size: 17px;
}

.search__body__btn input[type="button"]{
    font: 14px solid black "Open Sans";
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 26px;
    box-sizing: border-box;
    background: -webkit-linear-gradient(top,
        rgba(255,255,255,1) 0%,
        rgba(246,246,246,1) 59%,
        rgba(209,207,209,1) 100%);

}

.search__body__btn input[type="button"]:focus {
	outline: none;
}

.search__body__btn input[type="button"]:hover {
    border: 1px solid #b3b3b3;
}

.search__body__btn input[type="button"]:active {
    border: 1px solid #808080;
}
