a, h1, h2, p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;}

hr{
    border: 0;
    border-bottom: 1px solid #bebebe;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;}

.content{
    background-color: #f2f2f2;
    width: 50%;
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 5px;
    border-left: 5px solid #dddddd;
    overflow: hidden;}

.justify_text{
    text-align: justify;
    color: red;
}

.mycenter {
    text-align: center;
}
/*
.mytext{
    float: center;}*/
