* {
    margin: 0 0 0 0;
}

body * {
    font-family: "Roboto", sans-serif;
    font-weight: 300;}

hr{
    border: 0;
    border-bottom: 1px solid #bebebe;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;}

.content{
    background-color: #f2f2f2;
    width: 50%;
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 5px;
    border-left: 5px solid #dddddd;
    overflow: hidden;}

.justify_text{
    text-align: justify;
    color: red;
}

.mycenter {
    text-align: center;
}

.frm{
    margin-top: 20px;
    margin-bottom: 20px;}

.frmCheckbox{
    display: inline;
}

select{
    font-size: 14px;
}
