html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: impact;
	text-transform: uppercase;
}

li {
	display: inline-block;
	padding: 5px;
}

li:last-child{
	float: right;
}

li:hover{
	background-color: #ebebeb;
	color: #d2d2d2;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
}

.header-wrapper{
	background-color: #00c1ff;
	width: 100%;
}

.menu {
	/*text-align: center;*/
	width: 900px;
	color: white;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	word-spacing: 25px;
}
