body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 300;
}

:link, :visited{
    color: #000;
    text-decoration: none;
}

.wrapper-pagination{
        background-color: #fafafa;
}

.pagination{
    padding: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul li{
    display: inline-block;
    border: solid 1px #ececec;
    border-radius: 3px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.points,
.pagination ul li:first-child,
.pagination ul li:last-child,
.pagination ul li:nth-child(2),
.pagination ul li:nth-last-child(2){
    border: none;
}

.pagination ul li:first-child::before,
.pagination ul li:nth-child(2)::before{
    content: "\00ab ";
}

.pagination ul li:last-child::after,
.pagination ul li:nth-last-child(2):after{
    content: " \00bb";
}

li:not(.points):hover{
	background-color: #e7e7e7;
}
