/******* COMMENTS BEGIN *******/

.comments{
    margin: 0 auto;
    /*min-width: 1020px;*/
    width: 100%;
    min-width: 1020px;
    height: 315px;
    overflow: hidden;
    background:
        linear-gradient(rgba(6, 15, 22, 0.88),
                        rgba(6, 15, 22, 0.88)),
        url("../img/patern.png") repeat,
        url("../img/comments_bg.jpg") no-repeat top;
}

.comments .wrapper{
    padding-top: 60px;
}

.comments__title{
    font: 40px "Open Sans";
    line-height: 70%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.comments__title-first{
    font-weight: 200;
    color: #ee8129;
}

.comments__title-second{
    font-weight: 700;
    color: #3170a8;
}

.wrapper__customer{
    float: left;
    height: 99px;
    width: 50%;
    border-right: solid 25px transparent;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.customer__image{
    position: relative;
    display: block;
    float: left;
    border-right: 25px solid transparent;
    /*margin-right: 25px;*/

}

.customer__content{
    box-sizing: border-box;
    height: 99px;
    padding: 0 20px;
    background-color: white;
    border: solid #e0e0e0 1px;
    overflow: hidden;
}

.customer__image::before {
    content: '';
    position: absolute;
    top: 35px;
    right: -25px;
    border: 15px solid;
    border-color: transparent white transparent transparent;
}

.customer__content__title{
    display:block;
    box-sizing: border-box;
    padding: 10px 0 25px 0;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color: #3070a8;
}

.customer__content__title-first{
    float: left;
}

.customer__content__title-second{
    float: right;
}

.customer__text{
    float: right;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    width: 100%;
    padding: 10px;
    border-top: dashed 1px #666;
}

.wrapper__customer.right__comment{
    float: right;
}

/******* COMMENTS END *******/
