/******* CONTACTS BEGIN *******/

.contacts{
    margin: 0 auto;
    width: 100%;
    min-width: 1020px;
    height: 345px;
    overflow: hidden;
}

.contacts__text{
    float: left;
    padding: 40px 0 40px 35px;
    line-height: 30px;
    color: #666;
}

.contacts__text__location::before{
    content: url("../img/ico_location.png");
    margin-left: -50px;
    padding-right: 30px;
}

.contacts__text__phone::before{
    content: url("../img/ico_phone.png");
    margin-left: -50px;
    padding-right: 30px;

}

.contacts__text__letter::before{
    content: url("../img/ico_letter.png");
    margin-left: -50px;
    padding-right: 30px;
}

.contacts__map{
    width: 50%;
    float: right;
}

.contacts__text-social{
    padding-top: 20px;
    margin-left: -60px;
}

.contacts__text-social ul li{
    display: inline-block;
    padding: 0 7px 0 7px;
}

/******* CONTACTS END *******/
