/******* FOOTER BEGIN *******/

.footer{
    height: 100px;
    background-color: #3070a8;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.footer p{
    padding-top: 20px;
}

.footer strong{
    font-weight: 700;
}

/******* FOOTER END *******/

/*** FOOTER LINKS BEGIN ***/

.footer a{
    text-decoration: none;
    font-weight: 700;
}

.footer a:link,
.footer a:active,
.footer a:visited{
    color: #1d1c1c;
}

.footer a:hover{
    color: #4d4949;
}

/*** FOOTER LINKS END ***/
