/******* MENU BEGIN *******/
.menu{
    text-align: right;
	box-sizing: border-box;
}

.menu ul{
    margin: 50px 0 0 0;
    word-spacing: 25px;

}
.menu ul li{
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3070a8;
    line-height: 30px;
    padding-bottom: 40px;
}

.menu ul li:nth-child(1){
    float: left;
    padding-bottom: 38px;
}

.menu ul > li:nth-child(1) > span:nth-child(1){
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    word-spacing: 2px;
    color: #ee8129;
}

.menu ul > li:nth-child(1) > span:nth-child(2){
    font-size: 30px;
    font-weight: 700;
    word-spacing: 2px;}

.menu ul li:hover{
    color: #3070a8;
    border-bottom: solid #3070a8 4px;
}
.menu :nth-child(1):hover{
    border-bottom: 0px;
}

/******* MENU END *******/

/*** MENU LINKS BEGIN ***/

.menu ul li a{
    text-decoration: none;
}

.menu ul li a:link,
.menu ul li a:active,
.menu ul li a:visited{
    color: #989898;
}

.menu ul li a:hover{
    color: #3070a8;
}

/*** MENU LINKS END ***/
