/******* MIDDLE BEGIN *******/

.middle{
    margin: 0 auto;
    /*min-width: 1020px;*/
    width: 100%;
    min-width: 1020px;
    height: 575px;
    overflow: hidden;
    background:
        linear-gradient(rgba(6, 15, 22, 0.77),
                        rgba(6, 15, 22, 0.77)),
        url("../img/patern.png") repeat,
        url("../img/people.jpg") no-repeat top;
}

.middle__title{
    padding: 80px 0 10px 0;
    font-size: 26px;
    line-height: 48px;
    font-weight: 400;
    color: #ee8129;
    text-transform: uppercase;
}

.middle__description{
    padding-bottom: 30px;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    color: white;
}

.middle__list{
    color: #9d9d9d;
    font-size: 14px;
    line-height: 30px;
    width: 60%;
}
.middle__list :nth-child(2){
    color: #3070a8;
}

.middle__list li{
    padding-bottom: 10px;
    list-style-type: disc;
}

/******* MIDDLE END *******/
