/******* PRICE BEGIN *******/

.price__title{
    font: 30px bold "Trebuchet MS";
    text-transform:uppercase;
    padding: 70px 0 60px 0;
    color: #41525c;
}

.price .wrapper{
    text-align: center;
    padding-bottom: 100px;
}

.price__wrapper{
    margin: 0 auto;
	width: 288px;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3),
				0px 10px 10px 0px rgba(50, 50, 50, 0.3);
	border-radius: 4px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.price__wrapper.left{
    margin-right: -7px;
    z-index: 1;
}

.price__wrapper.right{
    margin-left: -7px;
    z-index: 1;
}

.price__wrapper.sub {
    box-shadow: 0px 0px 0px 0px,
				0px 0px 0px 0px;
}

/*--------------------------------*/

.price-head{
	text-align: center;
	border-radius: 4px 4px 0px 0px ;
	background-color: #ee8129;
	font: bold 24px "Trebuchet MS" sans-serif;
	padding: 28px 0px 24px 0px;
	letter-spacing: 2px;
	color: white;
	text-transform: uppercase;
}

.price-head.left{
    background-color: #37c2d3;
}

.price-head.right{
    background-color: #1cb79a;
}

.price-head.sub {
    padding: 20px 0px 18px 0px;

}
/*--------------------------------*/

.price-body{
	border: solid 4px #ee8129;
	border-radius: 0px 0px 4px 4px ;
	background-color: white;
}

.price-body.sub {
    border: solid #e8eaec 1px;
    border-top: 0px;
}

.price-head.sub{
    border: solid #e8eaec 1px;
    border-bottom: 0px;
}

/*--------------------------------*/

.price-name{
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 24px;
    font-weight: 300;
    padding: 20px 0 25px 0;
	color: #35495a;
}

/*--------------------------------*/

.price-number{
	text-align: center;
	line-height: 60px;
	font-size: 70px;
	font-weight: bold;
	font-family: "Trebuchet MS";
	color: #35495a;
}

/*--------------------------------*/

.price-body{
	padding-left: 15px;
	padding-right: 15px;
}

/*--------------------------------*/

.price-number :first-child{
	font-size: 22px;
	font-weight: bold;
}

.price-number :last-child{
	font-size: 17px;
}

/*--------------------------------*/

.price-body ul {
	padding-top: 25px;
    text-align: left;
}

.price-body ul :nth-child(2n+1),
.price-body ul :nth-child(2n) {
	font-family: "Trebuchet MS";
	color: #888c94;
	margin: 1px auto;
	padding: 8px;
}

.price-body ul :nth-child(2n+1){
	background-color: #edf5fd;
}

.price-body ul :nth-child(2n){
	background-color: #f5f5f6;
}

.price-body ul li::before{
	content:url(../img/ok.png);
	padding-left: 20px;
	padding-right: 10px;
}

/*--------------------------------*/

.price__btn {
	display: block;
	margin: 18px auto 30px auto;
	width: 90%;
	height: 38px;
	border: 0px;
	border-radius: 4px;
	background-color: #ee8129;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 14px;
	color: white;
	box-shadow: 0px 5px 0px 0px #b3560b;
}

.price__btn.sub{
    margin-bottom: 20px;
}


.price__btn:hover {
	background-color: #ff8b2b;
}

.price__btn:active {
	background-color: #d97625;
}

.price__btn:focus {
	outline: none;
}

/******* PRICE END *******/
