/******* SERVICES BEGIN *******/

.services{
    display: block;
}

.services__wrapper{
    box-sizing: border-box;
    display: inline-block;
    float: left;
    /*background-color: yellow;*/
    width: 33%;
}

.services__ico{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    background:
        url("../img/lock.svg") no-repeat 46% 50%;
    background-color: #3070a8;
    border-radius: 50%;
}

.services__ico:hover{
    background-color: #3983c4;
}

.services__description{
    text-align: center;
    padding: 70px 0 77px 0;
    text-transform: uppercase;
    font: 28px "Trebuchet MS";
    color: #41525c;
}

.services__text > h1{
    padding-top: 30px;
    font: 28px "Open Sans" sans-serif;
    font-weight: 200;
    color: #3070a8;
    text-align: center;
    text-transform: uppercase;
}
.services__text > p{
    padding: 0 20px 40px 20px;
    font: 14px "Open Sans" sans-serif;
    font-weight: 200;
    color: #999;
    text-align: center;
    line-height: 26px;
}

/******* SERVICES END *******/
