/******* TOPSLIDE BEGIN *******/

.topslide{
    margin: 0 auto;
    width: 100%;
    min-width: 1020px;
    height: 585px;
    overflow: hidden;
    background:
        linear-gradient(rgba(11, 53, 84, 0.5),
                        rgba(11, 53, 84, 0.5)),
        url("../img/patern.png") repeat,
        url("../img/slide1.jpg") no-repeat center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.topslide__title__first{
    padding-top: 150px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 200;
    text-transform: none;
}

.topslide__title__second{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
}

.topslide__title__description{
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    font-style: italic;
    text-transform: none;
}

.topslide_btn{
    display: block;
    margin: 40px auto;
    padding: 20px 60px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 16px;
    color: white;
}

.topslide_btn:hover{
	background-color: rgba(11, 53, 84, 0.5);
}

.topslide_btn:active{
	background-color: rgba(11, 53, 84, 0.7);
}

.topslide_btn:focus{
	outline: none;
}

/******* TOPSLIDE END *******/
