html, body, .wrapper{
    height: 100%;
    font-family: 'Alfa Slab One', cursive;
    background-color: #292929;
}

/***************************\
        main game style
\***************************/

.wrapper{
    position:relative;
    width:800px;
    margin:0 auto;
}

#startGame{
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
    z-index: 1;
    width: 100px;
    height: 25px;
    border: 0;
    background-color: red;
    outline: none;
}

.screen{
    width: 100%;
    height: 100%;
    background-color: #292929;
    color: #65ff41;
}

.screen_score{
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}

.screen_score_gunman_wrapper *, .screen_score_you_wrapper *{
    display: inline-block;
}
.screen_reward{
    padding: 0 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.screen_game{
    position: relative;
}

/***************************\
        gunman style
\***************************/

.default_gunman{
    background: url(../img/gunman.png);
    width: 90px;
    height: 180px;
    background-size: auto 1000px;
    background-repeat: no-repeat;
    cursor: crosshair;
    position: absolute;
    top: 50%;
    right: 1%;
}

/***************************\
    move animation style
\***************************/

.steps_animation{
    /*right: 50%;*/
    transform: translate(-350px,0);
    transition:  transform 2s linear;
	animation: steps_animation_keys .4s steps(3) infinite;
}

@keyframes steps_animation_keys {

    0% {background-position: 0 0;}
    100% {background-position: -270px 0;}
}

/***************************\
    death animation style
\***************************/


.dead_gunman{
    background: url(../img/gunman.png);
    width: 90px;
    height: 180px;
    background-size: auto 1000px;
    background-repeat: no-repeat;
    cursor: crosshair;
    position: absolute;
    top: 50%;

    right: 350px;
    animation: dead_gunman_keys 2s steps(3);
}

@keyframes dead_gunman_keys {
    0%   {background-position: -925px 0;}
    100% {background-position: -1190px 0;}
}

  /***************************\
      run animation style
  \***************************/

.show_face{
    right: 350px;
    background-position: -270px 0;

}

.show_msg{
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
    color: red;
    font-size: 25px;
}
