/*** DEFAULT MOBILE BEGIN ***/

img {
    vertical-align: bottom;
}

.wrapper{
    margin: 0 auto;
    max-width: 800px;
    min-width: 320px;
}

/*** DEFAULT MOBILE END ***/

/*** TABLET BEGIN ***/

@media only screen
and (min-width : 800px){
    .wrapper{
        /*background: green;*/
        min-width: 800px;
        max-width: 1000px;
        padding: 0 22px;
    }
}

/*** TABLET END ***/

/*** DESKTOP BEGIN ***/

@media only screen
and (min-width : 1000px){

    .wrapper{
        /*background: green;*/
        /*min-width: 1000px;*/
        max-width: 1000px;
        /*margin: 0 auto;*/
        padding: 0 22px;
    }
}

/*** DESKTOP END ***/
