/*** DEFAULT TOP BEGIN ***/

.top{
    width: 100%;
    padding: 12px 0 20px 0;
    background: #3498db;
    font: 200 20px "helvetica", "sans serif";
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.top--logo,
.top--name{
    margin: 0 auto;
    max-width: 165px;
    display: block;
    vertical-align:middle;
}

.top--name{
    border-bottom: 1px solid #2980b9;
    padding: 5px 0;
}

.top__icons *{
    display: inline-block;
    padding-top: 5px;
    font: 200 15px "helvetica", "sans serif";
    text-transform: capitalize;
    vertical-align: middle;
}

/*** DEFAULT TOP END ***/

/*** TOP TABLET BEGIN ***/

@media only screen
and (min-width : 800px){

    .top .wrapper{
        position: relative;
    }

    .top{
        text-align: inherit;
    }

    .top--logo,
    .top--name,
    .top__icons{
        display: inline-block;
        margin: 0;
        max-width: 165px;
    }

    .top__icons{
        position: absolute;
        top: 7px;
        right: 22px;
    }

    .top--name{
        border-bottom: none;
    }
}

/*** TOP TABLET END ***/

/*** TOP DESKTOP BEGIN ***/

@media only screen
and (min-width : 1000px){



}

/*** TOP DESKTOP END ***/
