/*** DEFAULT ABOUT BEGIN ***/

.about{
    font: 400 13px "helvetica", "sans serif";
    color: #333333;
    text-align: center;
    min-width: 320px;
    height: 350px;
    background:
            url("../img/about.jpg") no-repeat top;
}

.about__description{
    margin: 0 auto;
    max-width: 340px;
    height: 200px;
    text-align: center;
    font: 200 16px/30px "helvetica", "sans serif";
    color: white;
    padding: 0 45px;
}

.about__description :first-child{
    padding: 35px 0 15px 0;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
}

.about__forms{
    max-width: 340px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 35px 0 20px;
    background: white;
    border-bottom: 5px solid #3498db;
    z-index: 2;
    position: relative;
}

.about__forms strong{
    display: block;
    padding: 35px 0 15px 0;
    font: 400 20px "helvetica", "sans serif";
    color: #333333;
}

.about__forms input{
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 36px;
    padding-left: 15px;
    font: 200 15px "helvetica", "sans serif";
    border: 1px solid #e6e6e6;
    background: #f2f2f2;
    color:#333;
}

.about__forms textarea{
    display: block;
    width: 100%;
    height: 72px;
    margin: 10px auto;
    padding: 10px 0 0 15px;
    font: 200 15px "helvetica", "sans serif";
    border: 1px solid #e6e6e6;
    background: #f2f2f2;
    color:#333;
}

.about__forms input[type="submit"]{
    display: block;
    width: 75%;
    height: 50px;
    margin: 25px auto 30px auto;
    background: #e74c3c;
    color: white;
    border: none;
    padding: 0;
}

.about__forms input[type="submit"]:hover {
	background-color: #fc5442;
}

.about__forms input[type="submit"]:active {
	background-color: #d94838;
}

.about__forms input[type="submit"]:focus {
	outline: none;
}

::-webkit-input-placeholder{
    color: #333;}


/*** DEFAULT ABOUT END ***/

/*** TABLET ABOUT BEGIN ***/

@media only screen
and (min-width : 800px){

    .about{
        background:
                url("../img/about_hd.jpg") no-repeat top;
    }

    .about__forms{
        margin-top: 30px;
        display: inline-block;
        width: 40%;
        float: right;
    }

    .about__description{
        display: inline-block;
        padding: 50px 0;
        width: 40%;
        font-size: 25px;
        text-align: left;
        line-height: 40px;
        height: auto;
        float: left;
    }

}

/*** TABLET ABOUT END ***/

/*** DESKTOP ABOUT BEGIN ***/

@media only screen
and (min-width : 1000px){



}

/*** DESKTOP ABOUT END ***/
