/*** DEFAULT GOOD BEGIN ***/

.good {
    box-sizing: border-box;
    background: #f2f2f2;
    font: 400 13px "helvetica", "sans serif";
    padding: 400px 0 15px 0;
    color: black;
    text-align: center;
}

.good .wrapper :first-child{
    padding-left: 45px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.good :nth-child(2),
.good :nth-child(3){
    padding: 20px 45px 0 45px;
    font-size: 13px;
    line-height: 20px;
}

/*** DEFAULT GOOD END ***/

/*** TABLET GOOD BEGIN ***/

@media only screen
and (min-width : 800px){

    .good .wrapper{
        padding: 0 22px;
        margin: 0;
    }

    .good {
        text-align: left;
        padding: 10px 0 15px 0;
    }

    .good *{
        width: 40%;
    }

    .good .wrapper :first-child{
    padding: 0;
    }

    .good :nth-child(2),
    .good :nth-child(3){
        padding-left: 0;
    }

}

/*** TABLET GOOD END ***/

/*** DESKTOP GOOD BEGIN ***/

@media only screen
and (min-width : 1000px){

    .good .wrapper{
        width: 1000px;
        padding: 0 22px;
        margin: 0 auto;
    }

}

/*** DESKTOP GOOD END ***/
