/*** DEFAULT BEST BEGIN ***/

.best{
    box-sizing: border-box;
    padding: 0 15px;
    font: 400 13px "helvetica", "sans serif";
    color: #333;
    text-align: center;
    /*background: yellow;*/
    border-bottom: 1px solid #f2f2f2;
}

.best__title{
    padding: 30px 0 15px 0;
    font: 400 20px "helvetica", "sans serif";
    color: #3498db;
    text-transform: uppercase;
}

.best__item{
    padding: 15px 0 15px 0;
}

.best__item--img{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 25px;
}

.best__item--text{
    line-height: 20px;
}

.best__item--text strong{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.best__item__linkwrapper{
    padding-top: 25px;
}

.best__item__linkwrapper--link{
    display: inline-block;
    border: 1px solid #c0bdbd;
    padding: 14px 7px;
    border-radius: 50%;
    text-decoration: none;
}

.best__item__linkwrapper--link:hover {
    box-shadow:inset 0px 0px 0px 1px #c0bdbd;
}

.best a:link,
.best a:active,
.best a:visited{
    color: #333;
}

/*** DEFAULT BEST END ***/

/*** TABLET BEST BEGIN ***/

@media only screen
and (min-width : 800px){

    .best{
        padding: 0;
    }

    .best__title{
        padding-top: 40px;
        text-align: left;
    }

    .best__item{
        text-align: left;
    }

    .best__item--img{
        display: inline-block;
        padding-bottom: 0;
    }

    .best__item--text{
        vertical-align: bottom;
        padding-left: 15px;
        display: inline-block;
        width: 40%;
        position: relative;

    }

    .best__item__linkwrapper{
        padding-top: 10px;
    }

    .best__item__linkwrapper--link{
        position: relative;
    }

}

/*** TABLET BEST END ***/

/*** DESKTOP BEST BEGIN ***/

@media only screen
and (min-width : 1000px){

    .best{
        text-align: left;
    }

    .best .wrapper :nth-child(3){
        padding: 0 2vw;
    }

    .best__item{
        width: 30%;
        display: inline-block;
        text-align: center;
    }

    .best__item--text strong{
        line-height: 60px;
    }

    .best__item--text{
        width: 290px;
        padding: 0;
    }

    .best__item__linkwrapper{
        margin-top: 20px;
    }

}

/*** DESKTOP BEST END ***/
