/*** DEFAULT STUDENT BEGIN ***/

.student{
    box-sizing: border-box;
    font: 400 13px "helvetica", "sans serif";
    width: 100%;
    padding: 45px 40px 150px 40px;
    text-align: center;
    /*background: yellow;*/
}

.student strong{
    font-size: 20px;
    text-transform: uppercase;
    color: #3498db;
    line-height: 30px;
}

.student__arrows{
    padding: 20px 0;
    margin: 0 auto;
}

.student__arrows--left{
    display: inline-block;
    width: 39px;
    height: 39px;
    border: 1px solid #c0bdbd;
    border-radius: 50%;
    background:
        url("../img/arrow_left_inactive.png") no-repeat center;
}

.student__arrows--left:hover{
    background:
        #f2f2f2
        url("../img/arrow_left_active.png") no-repeat center;
}


.student__arrows--right{
    display: inline-block;
    width: 39px;
    height: 39px;
    border: 1px solid #c0bdbd;
    border-radius: 50%;
    background:
        url("../img/arrow_right_inactive.png") no-repeat center;
}

.student__arrows--right:hover{
    background:
        #f2f2f2
        url("../img/arrow_right_active.png") no-repeat center;
}

blockquote{
    line-height: 20px;
}

blockquote::before{
    content: "";
    display: block;
    width: 19px;
    height: 15px;
    position: relative;
    top: -20px;
    background: url(../img/blockquote1.png) no-repeat top;}

blockquote::after{
    content: "";
    display: block;
    width: 19px;
    height: 15px;
    float: right;
    position: relative;
    bottom: -20px;
    background: url(../img/blockquote2.png) no-repeat top;
}

blockquote b{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
    text-align: right;
}

/*** DEFAULT STUDENT END ***/

/*** TABLET STUDENT BEGIN ***/

@media only screen
and (min-width : 800px){

    .wrapper{
        position: relative;
    }

    .student{
        padding-left: 0;
        position: relative;
        text-align: left;
    }

    .student--title{
        width: 70%;
        padding-bottom: 35px;
    }

    .student__arrows{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    blockquote{
        width: 70%;
    }

}

/*** TABLET STUDENT END ***/

/*** DESKTOP STUDENT BEGIN ***/

@media only screen
and (min-width : 1000px){



}

/*** DESKTOP STUDENT END ***/
