/*** DEFAULT BOY BEGIN ***/

.boy{
    box-sizing: border-box;
    padding: 50px 10px;
    font: 400 13px "helvetica", "sans serif";
    width: 100%;
    text-align: center;
    background: #f2f2f2;
    position: relative;
}

.boy::before{
    content: "";
    display: block;
    width: 225px;
    height: 364px;
    position: absolute;
    left: 20%;
    bottom: 0;
    background: url(../img/boy.png) no-repeat bottom;
}

.boy_getstarted{
    display: block;
    padding: 15px 0;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    background: #e74c3c;
    position: relative;
    z-index: 5;
    text-decoration: none;
}

.boy__arrow{
    margin: 15px auto;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background:
        url("../img/arrow_boy.png") no-repeat center;
    /*box-shadow:inset 0px 0px 0px 2px white;*/

}

.boy__arrow:hover{
    background:
        #f2f2f2
        url("../img/arrow_boy1.png") no-repeat center;
}

.boy a:link,
.boy a:active,
.boy a:visited{
    color: white;
}

/*** DEFAULT BOY END ***/

/*** TABLET BOY BEGIN ***/

@media only screen
and (min-width : 800px){

    .boy{
        padding-left: 0;
    }

    .boy::before{
        left: 70%;
        bottom: 0;

    }

    .boy_getstarted strong{
        display: inline-block;
    }

    .boy__arrow{
        display: inline-block;
    }
    .boy_getstarted *{
        vertical-align: middle;
    }

    .boy_getstarted{
        width: 60%;
        padding: 0;
    }

}

/*** TABLET BOY END ***/

/*** DESKTOP BOY BEGIN ***/

@media only screen
and (min-width : 1000px){



}

/*** DESKTOP BOY END ***/
