/*** DEFAULT FOOTER BEGIN ***/

.footer{
    width: 100%;
    padding: 30px 0 50px 0;
    background: #3498db;
    font: 200 20px "helvetica", "sans serif";
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.footer--logo,
.footer--name{
    margin: 0 auto;
    max-width: 165px;
    display: block;
    vertical-align:middle;
}

.footer--name{
    border-bottom: 1px solid #2980b9;
    padding: 5px 0;
}

.footer__icons *{
    display: inline-block;
    padding-top: 5px;
    font: 200 15px "helvetica", "sans serif";
    text-transform: capitalize;
    vertical-align: middle;
}

.footer--text{
    padding: 40px 40px 0 40px;
    font: 200 13px "helvetica", "sans serif";
    line-height: 20px;
    text-transform: none;
}

.footer--text a{
    text-decoration: none;
}

.footer a:link,
.footer a:active,
.footer a:visited{
    color: white;
}

/*** DEFAULT FOOTER END ***/

/*** TABLET FOOTER BEGIN ***/

@media only screen
and (min-width : 800px){

    .footer{
        padding: 50px 0 70px 0;
        text-align: left;
    }

    .footer--logo,
    .footer__icons{
        display: inline-block;
        margin: 0;
        max-width: 165px;
        vertical-align: top;
    }

    .footer--name{
        display: inline-block;
        margin: 0;
        padding-right: 15px;
        max-width: 155px;
        font-size: 26px;
        border: none;
        border-right: 1px solid #2980b9;
    }

    .footer__row{
        padding: 0 15px;
        display: inline-block;
        width: 60%;
        vertical-align: top;

    }

    .footer--text{
        padding: 0;
    }

}

/*** TABLET FOOTER END ***/

/*** DESKTOP FOOTER BEGIN ***/

@media only screen
and (min-width : 1000px){



}

/*** DESKTOP FOOTER END ***/
