/**
 * Eric Meyer's Reset CSS v2.0
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
/*@import url(http://reset5.googlecode.com/hg/reset.min.css);*/

/*--------------------------------*/

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -1.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

/*--------------------------------*/

.wrapper{
	margin: 50px auto;
	width: 288px;
	height: 460px;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3),
				0px 10px 10px 0px rgba(50, 50, 50, 0.3);
	border-radius: 4px;
}

/*--------------------------------*/

.price-head{
	text-align: center;
	border-radius: 4px 4px 0px 0px ;
	background-color: #ee8129;
	font: bold 24px "Trebuchet MS" sans-serif;
	padding: 28px 0px 24px 0px;
	letter-spacing: 2px;
	color: white;
	text-transform: uppercase;
}

/*--------------------------------*/

.price-body{
	border: solid 4px #ee8129;
	border-radius: 0px 0px 4px 4px ;
	background-color: white;
	height: 383px;
}

/*--------------------------------*/

.price-name{
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: "Trebuchet MS";
	color: #35495a;
}

/*--------------------------------*/

.price-number{
	text-align: center;
	line-height: 60px;
	font-size: 70px;
	font-weight: bold;
	font-family: "Trebuchet MS";
	color: #35495a;
}

/*--------------------------------*/

.price-body{
	padding-left: 15px;
	padding-right: 15px;
}

/*--------------------------------*/

.price-number :first-child{
	font-size: 22px;
	font-weight: bold;
}

.price-number :last-child{
	font-size: 17px;
}

/*--------------------------------*/

.price-body ul {
	margin-top: 25px;
}

.price-body ul :nth-child(2n+1),
.price-body ul :nth-child(2n) {
	font-family: "Trebuchet MS";
	color: #888c94;
	margin: 1px auto;
	padding: 8px;
}

.price-body ul :nth-child(2n+1){
	background-color: #edf5fd;
}

.price-body ul :nth-child(2n){
	background-color: #f5f5f6;
}

.price-body ul li::before{
	content:url(../img/ok.png);
	padding-left: 20px;
	padding-right: 10px;
}

/*--------------------------------*/

.btn{
	display: block;
	margin: 25px auto;
	width: 90%;
	height: 38px;
	border: 0px;
	border-radius: 4px;
	background-color: #ee8129;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 14px;
	color: white;
	box-shadow: 0px 5px 0px 0px #b3560b;
}

.btn:hover{
	background-color: #ff8b2b;
}

.btn:active{
	background-color: #d97625;
}

.btn:focus {
	outline: none;
}
