/**
 * Eric Meyer's Reset CSS v2.0
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------*/

html, body {
	height: 100%;
	font-family: impact;
	text-transform: uppercase;
}

li {
	display: inline-block;
	padding: 5px;
}

li:hover{
	background-color: #ebebeb;
	color: #acacac;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
}

.header-wrapper{
	background-color: #00c1ff;
	width: 100%;
}

.menu {
	text-align: center;
	width: 900px;
	color: white;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	word-spacing: 25px;
}

/*--------------------------------*/

.wrapper-submenu{
	display: none;
	font-family: "arial";
	text-transform: capitalize;
	font-size: 14px;
	width: 100%;
	background-color: #ebebeb;
	color: #acacac;
	position: absolute;
	left: 0;
}

li:hover .wrapper-submenu{
	display: inline;
}
