@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

.wrapper{
    margin: 0 auto;
    background-color: #f6f9f9;
}

.showcase{
    position: relative;
    margin: 50px auto;
    text-align: center;
    max-width: 1180px;
    min-width: 800px;
}

.showcase__title{
    text-align: center;
    font: normal 14px "Open Sans";
}

.showcase__title :nth-child(1) {
    font: 37px/80px "Open Sans";
    color: #2d3950;
}

.showcase__title :nth-child(2) {
    font: 14px/28px "Open Sans";
    color: #909090;
    padding: 0 0 45px 0;
}

.box__photo{
    margin: 15px;
    white-space: nowrap;
    display: inline-block;
    width: 360px;
    height: 260px;
    position: relative;
}

.box__photo img{
    border-radius: 3px;
}

.box__photo__hover{
    width: 360px;
    height: 260px;
    background: rgba(37, 166, 247, 0);
    border-radius: 3px;
    position:absolute;
    top: 0;
}

.box__photo__hover:hover{
    background: rgba(37, 166, 247, 0.5);
}

.box__photo__hover__icons{
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    opacity: 0;
}

.box__photo__hover__icons:hover{
    opacity: 1;
}

.box__photo__hover__icons-zoom{
    margin-top: 110px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background:
        url("../img/zoom.png") no-repeat center;
    background-size: 15px 15px;
    border-radius: 2px;
    display: inline-block;
}

.box__photo__hover__icons-link{
    margin-top: 110px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background:
        url("../img/link.png") no-repeat center;
    background-size: 15px 15px;
    border-radius: 2px;
    display: inline-block;
}

/*** MODAL BEGIN ***/

.box__photo__hover__wrapper{
    box-sizing: border-box;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 5px solid yellow;*/
    z-index: 999;
    background: rgba(26, 26, 26, 0.9);
}

.box__photo__hover__wrapper img{
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid #999;
    width: 100%;
    margin-top: 150px;
}

#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6{
    display: none;
}

#modal1:target,
#modal2:target,
#modal3:target,
#modal4:target,
#modal5:target,
#modal6:target{
    display: block;
}

.box__photo__hover-big__close{
    position: absolute;
    top: -20px;
    right: 10px;
    width: 40px;
    height: 40px;
    margin-top: 150px;
    background:
        url("../img/modal_close.gif") no-repeat center;
    background-color: #f74c26;
}
/*** MODAL END ***/
