h1{
    color: orange;
    text-align: right;
    font-size: 30px;
    font-weight: bold;}

em{
    background-color: green;}

p:first-letter{
    color: red;
    font-size: 30px;
    font-weight: bold;}

p{
    display: inline-block;}

ul {
    font-weight: bold;}

div[id="allotment"] h2 {
    color: orange;}

div[id="warehouse"] h2 {
    color: blue;}

div[id="allotment"] ol[class="fruits-list"] {
    color: gray;
    font-weight: normal;}

ol[class="vegetables-list"] {
    color: red;
    font-weight: normal;}

div[id="warehouse"] ol[class="fruits-list"] {
    color: green;
    font-weight: normal;}

thead {
    font-weight: bold;}

tbody{
    color: white;
    background-color: green;}

tbody tr :first-child{
    color:orange;
    background-color: white}
