input[type="checkbox"]{
	display: none;}

.red, .green, .blue {
	display: none;}

/*------------------*/

label[for="red"] {
	opacity: 0.5;
	color:red;
	border-bottom: solid 1px;}

label[for="green"] {
	opacity: 0.5;
	color:green;
	border-bottom: solid 1px;}

label[for="blue"] {
	opacity: 0.5;
	color:blue;
	border-bottom: solid 1px;}

/*------------------*/

#red:checked ~ .red {
	display: inline;}

#green:checked ~ .green {
	display: inline;}

#blue:checked ~ .blue {
	display: inline;}

#red:checked ~ label[for="red"]{
	opacity: 1.0;}

#green:checked ~ label[for="green"]{
	opacity: 1.0;}

#blue:checked ~ label[for="blue"]{
	opacity: 1.0;}

/*------------------*/

.red{
	background-color: red;
	color: white;
	border-radius:5px;
	padding: 2px;}

.green{
	background-color: green;
	color: white;
	border-radius:5px;
	padding: 2px;}

.blue{
	background-color: blue;
	color: white;
	border-radius:5px;
	padding: 2px;}
