a, h1, h2, p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;}

hr{
    border: 0;
    border-bottom: 1px solid #bebebe;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;}

p{
    padding: 15px 15px 15px 15px;}

.content{
    background-color: #f2f2f2;
    width: 50%;
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 5px;
    border-left: 5px solid #dddddd;
    overflow: hidden;}

.red{
    background-color: red;}

.magenta{
    background-color: magenta;}

.yellow{
    background-color: yellow;}

.green{
    background-color: green;}

/*dashed all except .red class*/
p:not(.red){
    border-bottom: dashed 2px}

/* style for noClass*/
div :not([class]){
    color: blue;}
